
input.invalid{
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
}

select.invalid{
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
}

label.invalid{
    @apply block mb-2 text-sm font-medium text-red-700 dark:text-red-500;
}

.invalid-feedback{
    @apply text-red-500 text-xs mt-1;
}

.invalid {
    & input{
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
    }

    & label{
        @apply block mb-2 text-sm font-medium text-red-700 dark:text-red-500;
    }
     
    & select{
        @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400;
    }
}

.upload-picture-card-full-width{
    & .ant-upload.ant-upload-select-picture-card{
        width: 100% !important;
    }
}

.upload-picture-card-full-width.invalid{
    & .ant-upload.ant-upload-select-picture-card{
        @apply bg-red-50 border border-red-500 text-red-900 dark:bg-red-100 dark:border-red-400;
    }
}

.ant-select-selection-search-input,.input-group{
    border-color: transparent;
    padding: 0px;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}


.vs__dropdown-toggle{
    @apply transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:transition-none dark:placeholder:text-slate-500/80;
}

.vs__search{
    font-size: 0.875rem;
    line-height: 1.6rem;
}